pydantic
uvicorn[standard]
fastapi
langchain==0.3.26
langchain-openai==0.3.27
langchain-groq
langchain-core
requests
langchain-google-genai
langgraph
python-dotenv
black
pinecone
google-genai
python-docx
PyMuPDF
python-multipart
langsmith
langchain_community
faiss-cpu
langchain_groq